.header-armazem{
    color: #FAFAFA;
    width: 80vw;
    margin: 0 10vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header-armazem .Header{
  padding: 0 10%;
  text-align: left;
}

.header-armazem #logo{
  width: 7em;
  height: 7em;
  border-radius: 50%;
  padding: 0.5em;
}

@media (max-width: 1500px ) and (min-width: 1000px) {
  .header-armazem .Header{
    padding: 0;
    text-align: left;
  }

  .header-armazem #logo{
    width: 6em;
    height: 6em;
  }
}

@media (max-width: 1000px ){
  .header-armazem .Header{
    padding: 0;
    text-align: left;
  }

  .header-armazem #logo{
    width: 5em;
    height: 5em;
  }
}